.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  text-align: left;

}

.book-container {
  width: 200px;
  padding: 10px;

}

.inside-container {
  display: flex;
  margin-bottom: 20px;
}

.price {
  align-self: flex-end;
  color: #6ae7df;
}