.layout {
    display: flex;
    justify-content: space-between;
  }

.circuits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

  .body {
    background-image: url("/Background Image.svg");
    height: 100vh;
  text-align: center;  }

  .body__link:hover {
    color: #6ae7df;
  }