.layout {
    display: flex;
    justify-content: space-between;
  }

  .body {
    background-image: url("/Background Image.svg");
      background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
  text-align: center;  }

  .body__link {
    color: #6ae7df;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    text-align: left;
  
  }

  .center-container {
    height: 600px;
    width: 800px;
    overflow: hidden;
    background-color: #351f5e;
    border-radius: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
  }
